process {
    withName: TMB_CALIBRATION {
        container = "${params.container_dir}/r-tidyverse-optparse-v4.2.1.simg"
        cpus = 16
        memory = 64.GB
        ext.prefix = "ccs.tmb"
        publishDir = [
            path: { "${params.output_dir}" },
            mode: params.publish_dir_mode,
            pattern: "*.{tsv,tmb.maf,yml}",
            saveAs: { "tmb/${it}" }
        ]
    }
}