params {
    release           = '1.0.0'
    batch_id          = null
    publish_dir_mode  = 'copy'
    multi_params      = true
    save_trimmed      = true
    save_split_fastqs = true
    save_trimmed_fail = false
    save_merged       = false
    skip_fastqc       = false
    skip_fastp        = false
    val_sort_bam      = false
    container_dir     = '/shared/singularity'
    adapter_fasta     = 'TruSeq-PE.fa'
    split_reads       = false
    output_dir        = null
    input_json        = null
    store_dir         = "${params.output_dir}/tmb"
    tmb_callable      = 1408279
}

report {
    enabled = true
    file    = "${params.output_dir}/pipeline_log/tmb_pipeline_nextflow_report.html"
    report.overwrite = true
}

timeline {
    enabled = false
    file    = "${params.output_dir}/pipeline_log/tmb_pipeline_timeline.html"
    timeline.overwrite = true
}

dag {
    enabled = false
    file    = "${params.output_dir}/pipeline_log/tmb_pipeline_dag.html"
    dag.overwrite = true
}

singularity {
  enabled = true
  autoMounts = true
}

process {
    executor = 'slurm'
    queue = 'ycga'

    // default resource allocation
    cpus = 12
    memory = 48.GB
    errorStrategy = 'retry'
    maxRetries = 2
}

executor {
    $slurm {
        // the number of tasks the executor will manage concurrently (default: 100).
        queueSize = 200
        // This setting determines the duration the executor waits before reporting an error status when a process is terminated.
        // Grid executors utilize this setting exclusively (default: 270 seconds).
        exitReadTimeout = '90min'
        // Determines the maximum rate of jobs that can be executed per time unit.
        // for example, '10 sec' indicates a maximum of 10 jobs per second (default: unlimited).
        submitRateLimit = '10 sec'
    }
}

// to make this extendable to other references in the future
profiles {
    hg19 {
        params.reference_file = '/resources/human_g1k_v37_decoy_plus_virus/human_g1k_v37_decoy_plus_virus.fasta'
        params.fai_file = '/resources/human_g1k_v37_decoy_plus_virus/human_g1k_v37_decoy_plus_virus.fasta.fai'
        params.dict_file = '/resources/human_g1k_v37_decoy_plus_virus/human_g1k_v37_decoy_plus_virus.dict'
        // hotspot mutations
        params.hotspots = '/resources/msk_hotspots/cancerhotspots.v2.maf'
        // msi regions
        params.models = '/resources/msi_sites/models_b37_HumanG1Kv37/'
        // fill your path to a cosmic 64 VCF below
        params.vep_cache = '/resources/vep_data/release_99'
        params.cosmic_vcf = '/resources/COSMIC/COSMIC.vcf'
        params.filter_vcf = '/resources/GRCh37/small_exac_common_3.vcf'
        params.dbsnp_vcf = '/resources/GRCh37/gatk_bundle/hg19_v0_dbsnp_138.b37.vcf.gz'
        params.dbsnp_vcf_tbi = '/resources/GRCh37/gatk_bundle/hg19_v0_dbsnp_138.b37.vcf.gz.tbi'
        params.known_indel_vcf = '/resources/GRCh37/gatk_bundle/hg19_v0_Mills_and_1000G_gold_standard.indels.b37.vcf.gz'
        params.known_indel_vcf_tbi = '/resources/GRCh37/gatk_bundle/hg19_v0_Mills_and_1000G_gold_standard.indels.b37.vcf.gz.tbi'
        params.known_snp_vcf = '/resources/GRCh37/gatk_bundle/hg19_v0_1000G_phase1.snps.high_confidence.b37.vcf.gz'
        params.known_snp_vcf_tbi = '/resources/GRCh37/gatk_bundle/hg19_v0_1000G_phase1.snps.high_confidence.b37.vcf.gz.tbi'
        params.gnomad_exome_vcf = '/resources/GRCh37/af-only-gnomad.raw.sites.b37.vcf.gz'
        params.gnomad_exome_vcf_tbi = '/resources/GRCh37/af-only-gnomad.raw.sites.b37.vcf.gz.tbi'
        params.exac_common_vcf = '/resources/GRCh37/small_exac_common_3.vcf.gz'
        params.exac_common_vcf_tbi = '/resources/GRCh37/small_exac_common_3.vcf.gz.tbi'
        params.tumor_panel_bed_files = '/resources/IDT_GOAL_probe_spike_ins/hs37d5_GOAL_tumor_panel_target_regions_mixed/*.bed'
        params.tumor_panel_bed = '/resources/IDT_GOAL_probe_spike_ins/hs37d5_goal_genes528_coding_regions.bed'
        params.tumor_panel_bed_gz = '/resources/IDT_GOAL_probe_spike_ins/hs37d5_goal_genes528_coding_regions.bed.gz'
        params.tumor_panel_bed_tbi = '/resources/IDT_GOAL_probe_spike_ins/hs37d5_goal_genes528_coding_regions.bed.gz.tbi'
        params.exome_bed_files = '/resources/IDT_GOAL_probe_spike_ins/hs37d5_idtv2_target_regions/*.bed'
        params.exome_bed = '/resources/IDT_GOAL_probe_spike_ins/hs37d5_idtv2_target_regions.sort.bed'
        params.exome_bed_gz = '/resources/IDT_GOAL_probe_spike_ins/hs37d5_idtv2_target_regions.sort.bed.gz'
        params.exome_bed_tbi = '/resources/IDT_GOAL_probe_spike_ins/hs37d5_idtv2_target_regions.sort.bed.gz.tbi'
    }
}

// Load subworkflow config files
includeConfig 'subworkflows/index_genome/nextflow.config'
includeConfig 'subworkflows/fastq_fastp_fastqc/nextflow.config'
includeConfig 'subworkflows/align_markdup_bqsr_stats/nextflow.config'
includeConfig 'subworkflows/estimate_msi/nextflow.config'
includeConfig 'subworkflows/snv_mutect2/nextflow.config'
includeConfig 'subworkflows/snv_strelka2/nextflow.config'
includeConfig 'subworkflows/calculate_tmb/nextflow.config'