process {
    withName: MSISENSOR2_MSI {
        container = "${params.container_dir}/msisensor2.0.1.simg"
        cpus = 16
        memory = 64.GB
        ext.args = '-l 1 -q 1'
        publishDir = [
            path: { "${params.output_dir}" },
            mode: params.publish_dir_mode,
            pattern: "*",
            saveAs: { "msi/${it}" }
        ]
    }
}