process {
    // process-specific resource allocation (overrides defaults)
    withName: '.*FASTQC_RAW' {
        container = "${params.container_dir}/fastqc-0.12.1.simg"
        ext.prefix = { "${meta.id}_raw" }
        publishDir = [
            [
                path: { "${params.output_dir}/${meta.id}/unaligned/fastqc" },
                mode: params.publish_dir_mode,
                pattern: "*.{html,zip}"
            ]
        ]

    }

    withName: '.*FASTQC_TRIM' {
        container = "${params.container_dir}/fastqc-0.12.1.simg"
        ext.prefix = { "${meta.id}_trim" }
        publishDir = [
            [
                path: { "${params.output_dir}/${meta.id}/qc/fastqc" },
                mode: params.publish_dir_mode,
                pattern: "*.{html,zip}"
            ]
        ]
    }
    withName: FASTP {
        container = "${params.container_dir}/fastp-v0.24.0.simg"
        publishDir = [
            [
                path: { "${params.output_dir}/${meta.id}/unaligned/fastp" },
                mode: params.publish_dir_mode,
                pattern: "*.{html,log,json}"
            ],
            [
                path: { "${params.output_dir}/unaligned/" },
                mode: params.publish_dir_mode,
                pattern: "*.fastp.fastq.gz",
                saveAs: { params.save_trimmed || params.save_split_fastqs ?  "${meta.id}/fastp/${it}" : null }
            ]
        ]
    }
}