process {
    withName: GATK4_MUTECT2 {
        cpus = 16
        memory = 64.GB
        container = "${params.container_dir}/gatk4.6.simg"
        ext.args = '--seconds-between-progress-updates 600 --dont-use-soft-clipped-bases --max-reads-per-alignment-start 100 --kmer-size 10 --kmer-size 25 --interval-padding 10'
        publishDir = [
            path: { "${params.output_dir}/" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf.gz,vcf.gz.tbi,vcf.gz.stats,f1r2.tar.gz,yml}",
            saveAs: { "${meta.pid}/variants/mutect2/chrom_vcfs/${it}" }
        ]
    }
    withName: GETPILEUPSUMMARIES_NORMAL {
        container = "${params.container_dir}/gatk4.6.simg"
        ext.args = '--interval-padding 100'
        publishDir = [
            path: { "${params.output_dir}/" },
            mode: params.publish_dir_mode,
            pattern: "*.{pileups.table,yml}",
            saveAs: { "${meta.pid}/variants/mutect2/chr_normals/${it}" }
        ]
    }
    withName: GETPILEUPSUMMARIES_TUMOR {
        container = "${params.container_dir}/gatk4.6.simg"
        ext.args = '--interval-padding 100'
        publishDir = [
            path: { "${params.output_dir}/" },
            mode: params.publish_dir_mode,
            pattern: "*.{pileups.table,yml}",
            saveAs: { "${meta.pid}/variants/mutect2/chr_tumors/${it}" }
        ]
    }
    withName: GATK4_CALCULATECONTAMINATION {
        cpus = 16
        memory = 64.GB
        container = "${params.container_dir}/gatk4.6.simg"
        publishDir = [
            path: { "${params.output_dir}/" },
            mode: params.publish_dir_mode,
            pattern: "*.{table,yml}",
            saveAs: { "${meta.pid}/variants/mutect2/chr_tabs/${it}" }
        ]
    }
    withName: GATK4_FILTERMUTECTCALLS {
        cpus = 16
        memory = 64.GB
        container = "${params.container_dir}/gatk4.6.simg"
        ext.args = '--unique-alt-read-count 5'
        publishDir = [
            path: { "${params.output_dir}/" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf.gz,vcf.gz.tbi,tsv,yml}",
            saveAs: { "${meta.pid}/variants/mutect2/chr_pass_vcfs/${it}" }
        ]
    }
    withName: BCFTOOLS_NORM {
        container = "${params.container_dir}/bcftools-v1.21.simg"
        ext.args = '--output-type z --write-index=tbi --no-version'
        publishDir = [
                path: { "${params.output_dir}/" },
                mode: params.publish_dir_mode,
                pattern: "*.{vcf.gz,tbi,yml}",
                saveAs: { "${meta.pid}/variants/mutect2/chr_norm_vcfs/${it}" }
        ]
    }
    withName: MUTECT2_MERGEVCFS {
        cpus = 16
        memory = 192.GB
        container = "${params.container_dir}/gatk4.6.simg"
        ext.prefix = "mutect2.somatic.pass.norm.merged"
        publishDir = [
            path: { "${params.output_dir}/" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf.gz,vcf.gz.tbi,yml}",
            saveAs: { "${meta.id}/variants/mutect2/${it}" }
        ]
    }
    withName: MUTECT2_VEP {
        cpus = 16
        memory = 128.GB
        container = "${params.container_dir}/ensembl-vep.99.simg"
        ext.args = '--species homo_sapiens --offline --everything --shift_hgvs 1 --check_existing --total_length --allele_number --no_escape --assembly GRCh37 --buffer_size 256 --vcf --force_overwrite'
        publishDir = [
            path: { "${params.output_dir}/" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf,html,yml}",
            saveAs: { "${meta.id}/variants/mutect2/${it}" }
        ]
    }
    withName: MUTECT2_VEP_JSON {
        cpus = 16
        memory = 128.GB
        container = "${params.container_dir}/ensembl-vep.99.simg"
        ext.args = '--species homo_sapiens --offline --everything --shift_hgvs 1 --check_existing --total_length --allele_number --no_escape --assembly GRCh37 --buffer_size 256 --json --force_overwrite'
        ext.type = 'json'
        publishDir = [
            path: { "${params.output_dir}/" },
            mode: params.publish_dir_mode,
            pattern: "*.{json,html,yml}",
            saveAs: { "${meta.id}/variants/mutect2/${it}" }
        ]
    }
    withName: MUTECT2_VCF2MAF {
        container = "${params.container_dir}/vcf2maf-v1.6.22.simg"
        ext.args = '--ncbi-build GRCh37 --species homo_sapiens --inhibit-vep --maf-center mutect2'
        publishDir = [
            path: { "${params.output_dir}/" },
            mode: params.publish_dir_mode,
            pattern: "*.{maf,yml}",
            saveAs: { "${meta.id}/variants/mutect2/${it}" }
        ]
    }
}