process {
    //publishDir = { "${params.output_dir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: BWA_INDEX {
        container = "${params.container_dir}/bwa-0.7.18.simg"
        cpus = 16
        memory = 128.GB
    }
    withName: GATK4_CREATESEQDICT {
        container = "${params.container_dir}/gatk4.6.simg"
    }
    withName: SAMTOOLS_FAIDX {
        container = "${params.container_dir}/samtools-v1.20.simg"
    }
}