process {
    withName: MANTA_SOMATIC {
        cpus = 16
        memory = 192.GB
        container = "${params.container_dir}/strelka2-manta.simg"
        ext.args = '--exome'
        publishDir = [
            path: { "${params.output_dir}/" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf.gz,vcf.gz.tbi,yml}",
            saveAs: { "${meta.id}/variants/strelka2/${it}" }
        ]
    }
    withName: STRELKA_SOMATIC {
        cpus = 16
        memory = 192.GB
        container = "${params.container_dir}/strelka2-manta.simg"
        ext.args = '--exome --outputCallableRegions'
        publishDir = [
            path: { "${params.output_dir}/" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf.gz,vcf.gz.tbi,yml}",
            saveAs: { "${meta.id}/variants/strelka2/${it}" }
        ]
    }
    withName: BCFTOOLS_NORM_SNV {
        container = "${params.container_dir}/bcftools-v1.21.simg"
        ext.args = '--output-type z --write-index=tbi --no-version'
        ext.prefix = "strelka2.somatic.snv.pass.norm"
        publishDir = [
                path: { "${params.output_dir}/" },
                mode: params.publish_dir_mode,
                pattern: "*.{vcf.gz,tbi,yml}",
                saveAs: { "${meta.id}/variants/strelka2/${it}" }
        ]
    }
    withName: BCFTOOLS_NORM_INDEL {
        container = "${params.container_dir}/bcftools-v1.21.simg"
        ext.args = '--output-type z --write-index=tbi --no-version'
        ext.prefix = "strelka2.somatic.indel.pass.norm"
        publishDir = [
                path: { "${params.output_dir}/" },
                mode: params.publish_dir_mode,
                pattern: "*.{vcf.gz,tbi,yml}",
                saveAs: { "${meta.id}/variants/strelka2/${it}" }
        ]
    }
    withName: STRELKA2_MERGEVCFS {
        cpus = 16
        memory = 192.GB
        container = "${params.container_dir}/gatk4.6.simg"
        ext.prefix = "strelka2.somatic.pass.norm.merged"
        publishDir = [
            path: { "${params.output_dir}/" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf.gz,vcf.gz.tbi,yml}",
            saveAs: { "${meta.id}/variants/strelka2/${it}" }
        ]
    }
    withName: STRELKA2_VEP {
        cpus = 16
        memory = 128.GB
        container = "${params.container_dir}/ensembl-vep.99.simg"
        ext.args = '--species homo_sapiens --offline --everything --shift_hgvs 1 --check_existing --total_length --allele_number --no_escape --assembly GRCh37 --buffer_size 256 --vcf --force_overwrite'
        publishDir = [
            path: { "${params.output_dir}/" },
            mode: params.publish_dir_mode,
            pattern: "*.{vcf,html,yml}",
            saveAs: { "${meta.id}/variants/strelka2/${it}" }
        ]
    }
    withName: STRELKA2_VEP_JSON {
        cpus = 16
        memory = 128.GB
        container = "${params.container_dir}/ensembl-vep.99.simg"
        ext.args = '--species homo_sapiens --offline --everything --shift_hgvs 1 --check_existing --total_length --allele_number --no_escape --assembly GRCh37 --buffer_size 256 --json --force_overwrite'
        ext.type = 'json'
        publishDir = [
            path: { "${params.output_dir}/" },
            mode: params.publish_dir_mode,
            pattern: "*.{json,html,yml}",
            saveAs: { "${meta.id}/variants/strelka2/${it}" }
        ]
    }
    withName: STRELKA2_VCF2MAF {
        container = "${params.container_dir}/vcf2maf-v1.6.22.simg"
        ext.args = '--ncbi-build GRCh37 --species homo_sapiens --inhibit-vep --maf-center strelka2'
        tumorID = "TUMOR"
        normalID = "NORMAL"
        publishDir = [
            path: { "${params.output_dir}/" },
            mode: params.publish_dir_mode,
            pattern: "*.{maf,yml}",
            saveAs: { "${meta.id}/variants/strelka2/${it}" }
        ]
    }
}