process {
    withName: SEQKIT_SPLIT2 {
        container = "${params.container_dir}/seqkit-v2.8.2.simg"
        ext.args = '--by-part 2'
        publishDir = [
                path: { "${params.output_dir}/" },
                mode: params.publish_dir_mode,
                pattern: "*.{bam,yml}",
                saveAs: { "${meta.id}/fastp/seqkit/${it}" }
        ]
    }
    withName: BWA_MEM1 {
        container = "${params.container_dir}/bwa-samtools-v0.7.17.simg"
        cpus = 16
        memory = 64.GB
        ext.args = '-M -v 1 -K 100000000'
        ext.args2 = '-Sb -q 10'
        ext.prefix = "part1"
        publishDir = [
                path: { "${params.output_dir}/" },
                mode: params.publish_dir_mode,
                pattern: "*.{bam,yml}",
                saveAs: { "${meta.id}/alignments/bwa/${it}" }
        ]
    }
    withName: BWA_MEM2 {
        container = "${params.container_dir}/bwa-samtools-v0.7.17.simg"
        cpus = 16
        memory = 64.GB
        ext.args = '-M -v 1 -K 100000000'
        ext.args2 = '-Sb -q 10'
        ext.prefix = "part2"
        publishDir = [
                path: { "${params.output_dir}/" },
                mode: params.publish_dir_mode,
                pattern: "*.{bam,yml}",
                saveAs: { "${meta.id}/alignments/bwa/${it}" }
        ]
    }
    withName: SAMBAMBA_MERGE {
        container = "${params.container_dir}/sambamba-1.0.1.simg"
        cpus = 16
        memory = 64.GB
        ext.prefix = { "${meta.id}.merged" }
        publishDir = [
                path: { "${params.output_dir}/" },
                mode: params.publish_dir_mode,
                pattern: "*.{bam,bai,yml}",
                saveAs: { "${meta.id}/alignments/sambamba/${it}" }
        ]
    }

    withName: SAMBAMBA_MARKDUP {
        container = "${params.container_dir}/sambamba-1.0.1.simg"
        cpus = 16
        memory = 64.GB
        ext.args = ' --hash-table-size 525000 --overflow-list-size 525000 '
        ext.prefix = { "${meta.id}.sort.dedup" }
        publishDir = [
                path: { "${params.output_dir}/" },
                mode: params.publish_dir_mode,
                pattern: "*.{bam,bai,yml}",
                saveAs: { "${meta.id}/alignments/sambamba/${it}" }
        ]
    }
    withName: SAMBAMBA_FLAGSTAT {
        container = "${params.container_dir}/sambamba-1.0.1.simg"
        publishDir = [
                path: { "${params.output_dir}/" },
                mode: params.publish_dir_mode,
                pattern: "*.{stats,yml}",
                saveAs: { "${meta.id}/alignments/sambamba/flagstat/${it}" }
        ]
    }
    withName: SAM_SORT1 {
        container = "${params.container_dir}/samtools-v1.20.simg"
        publishDir = [
                path: { "${params.output_dir}/" },
                mode: params.publish_dir_mode,
                pattern: "*.{bam,bai,yml}",
                saveAs: { "${meta.id}/alignments/samtools/${it}" }
        ]
    }
    withName: SAM_SORT2 {
        container = "${params.container_dir}/samtools-v1.20.simg"
        publishDir = [
                path: { "${params.output_dir}/" },
                mode: params.publish_dir_mode,
                pattern: "*.{bam,bai,yml}",
                saveAs: { "${meta.id}/alignments/samtools/${it}" }
        ]
    }
    withName: SAM_SORT {
        container = "${params.container_dir}/samtools-v1.20.simg"
        publishDir = [
                path: { "${params.output_dir}/" },
                mode: params.publish_dir_mode,
                pattern: "*.{bam,bai,yml}",
                saveAs: { "${meta.id}/alignments/samtools/${it}" }
        ]
    }
    withName: GATK4_BASERECALIBRATOR {
        cpus = 16
        memory = 64.GB
        container = "${params.container_dir}/gatk4.6.simg"
        ext.args = '--use-original-qualities'
        publishDir = [
            path: { "${params.output_dir}/" },
            mode: params.publish_dir_mode,
            pattern: "*.{table,yml}",
            saveAs: { "${meta.id}/alignments/gatk4/${it}" }
        ]
    }
    withName: GATK4_APPLYBQSR {
        cpus = 16
        memory = 64.GB
        container = "${params.container_dir}/gatk4.6.simg"
        ext.args = '--static-quantized-quals 10 --static-quantized-quals 20 --static-quantized-quals 30'
        publishDir = [
            path: { "${params.output_dir}/" },
            mode: params.publish_dir_mode,
            pattern: "*.{bam,bai,yml}",
            saveAs: { "${meta.id}/alignments/gatk4/${it}" }
        ]
    }
    withName: SAMTOOLS_STATS {
        container = "${params.container_dir}/samtools-v1.20.simg"
        publishDir = [
                path: { "${params.output_dir}/" },
                mode: params.publish_dir_mode,
                pattern: "*.{stats,txt}",
                saveAs: { "${meta.id}/qc/samtools/${it}" }
        ]
    }
    withName: SAMTOOLS_CONVERT {
        container = "${params.container_dir}/samtools-v1.20.simg"
        publishDir = [
                path: { "${params.output_dir}/" },
                mode: params.publish_dir_mode,
                pattern: "*.{cram,crai,yml}",
                saveAs: { "${meta.id}/alignments/samtools/${it}" }
        ]
    }

    withName: PICARD_COLLECTMULTIPLEMETRICS {
        container = "${params.container_dir}/picard-v3.3.0.simg"
        publishDir = [
                path: { "${params.output_dir}/" },
                mode: params.publish_dir_mode,
                pattern: "*.{pdf,*_metrics,txt}",
                saveAs: { "${meta.id}/qc/picard/${it}" }
        ]
    }

    withName: MOSDEPTH {
        container = "${params.container_dir}/mosdepth_v0.3.10.simg"
        publishDir = [
                path: { "${params.output_dir}/" },
                mode: params.publish_dir_mode,
                pattern: "*.{txt,bed.gz,csi}",
                saveAs: { "${meta.id}/qc/mosdepth/${it}" }
        ]
    }
}