process {
    withName: MULTIQC_REPORT {
        container = "${params.container_dir}/multiqc_v1.28.simg"
        cpus = 16
        memory = 64.GB
        ext.args = '-m mosdepth -m picard -m samtools -m fastqc'
        publishDir = [
            path: { "${params.output_dir}/cohort/" },
            mode: params.publish_dir_mode,
            pattern: "*.{html,yml,zip},*_data",
            saveAs: { "multiqc/${it}" }
        ]
    }
}